.CFUserTextEncoding
.DS_Store
.Trash/
.ansible/
.ansible_galaxy
.anydesk/
.aspnet/
.aws/
.babel.json
.bash_history
.config/
.credentials/
.docker/
.electron/
.emacs.d/
.fzf/
.gem/
.gitconfig
.gitkraken/
.gitlab-runner/
.httpie/
.ispell_english
.keras/
.kube/
.lesshst
.local/
.m2/
.minikube/
.mysql_history
.node-gyp/
.npm/
.nvm/
.oh-my-zsh/
.old-m2/
.oracle_jre_usage/
.pylint.d/
.python_history
.rediscli_history
.repo_.gitconfig.json
.sclack
.shpotify.cfg
.ssh/
.subversion/
.tmux
.v8flags.6.2.414.54.0d650e867a64ff3c44c343a4a46f4cc4.json
.v8flags.6.7.288.46-node.8.0d650e867a64ff3c44c343a4a46f4cc4.json
.vagrant.d/
.vim/
.viminfo
.virtualenvs
.vscode/
.wget-hsts
.wtf
.zcompdump*
zcompdump-local-5.3
.zoomus/
.zsh-update
.zsh_history
Applications/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Lightworks/
Movies/
Music/
Pictures/
Pipfile
Public/
VirtualBox VMs/
bin/
boxes/
code/
dump.rdb
dumps/
elasticsearch*
env/
go/
init.scpt
init.sh
jmeter.log
mysql.server
nltk_data/
nyan.sh
repos/
sclack/
startup.sh
test.sh









